<footer class="footer">
  <div class="footer-container">
    <p><i class="fa-regular fa-copyright"></i>&nbsp;{{ currentYear }} Desenvolvido por Pedro Fanan. Todos os direitos reservados.</p>
    <div class="footer-links">
      <a href="https://github.com/seuusuario" target="_blank">
        <i class="fa-brands fa-github"></i>&nbsp;GitHub
      </a>
      <a href="https://www.linkedin.com/in/seuusuario" target="_blank">
        <i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn
      </a>
      <a href="#contact">
        <i class="fa-solid fa-phone"></i>&nbsp;Contato
      </a>
    </div>
  </div>
</footer>
