<footer class="footer">
  <div class="footer-container">
    <p><i class="fa-regular fa-copyright"></i>&nbsp;{{ currentYear }} Desenvolvido por Pedro Fanan. Todos os direitos reservados.</p>
    <div class="footer-links">
      <a href="https://github.com/pedrofanan" target="_blank">
        <i class="fa-brands fa-github"></i>&nbsp;GitHub
      </a>
      <a href="https://www.linkedin.com/in/pedro-fanan-5023b7256" target="_blank">
        <i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn
      </a>
     <a href="https://wa.me/5516989988979?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os." target="_blank">
      <i class="fa-solid fa-phone"></i>&nbsp;Contato
    </a>
    </div>
  </div>
</footer>
